<div class="well">
    <form method="post" action="/home/upload" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="text" placeholder="password" name="password" />
        <button class="btn btn-success">Upload</button>
    </form>
</div>